body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 10px;
    padding: 10px;
}

.grid-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Set a fixed height for grid items */
    background-color: white; /* Set background color to white */
    position: relative;
}
.grid-item > div {
    position: absolute;
    bottom: 3px;
    right: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size:.7em;
}
.grid-item img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain; /* Ensure the entire image is visible */
    display: block;
    transition: opacity 0.5s ease, filter 0.5s ease; /* Add transition for smooth animation */
}

.seen {
    opacity: 0.4;
    filter: grayscale(100%); /* Apply grayscale to make it clearer that the image has been seen */
}

/* Media query for mobile devices */
@media (max-width: 600px) {

    .grid-container {
        grid-template-columns: 1fr; /* Single column layout on mobile */
        gap: 5px;
        padding: 5px;
    }

    .grid-item {
        height: auto; /* Adjust height to auto for better responsiveness */
    }

    .grid-item img {
        width: 100%; /* Ensure images take full width on mobile */
        height: auto; /* Maintain aspect ratio */
    }
}